.container {
  @apply mx-14 p-2;
}

.postLink {
  @apply text-cyan-800 underline italic;
}
.postTitle {
  @apply text-5xl font-bold my-2;
}

.postSubtitle {
  @apply text-2xl font-semibold my-1;
}

.postSubtitle3 {
  @apply text-lg font-semibold my-1;
}

.postParagraph {
  @apply my-3 text-justify;
}

.boxCode {
  @apply p-3 rounded-md shadow-md overflow-auto;
}

.lineCode {
  @apply p-1 rounded-md;
}

.postBlockquote {
  @apply bg-blue-200 p-3 rounded-md border-l-8 border-blue-400 shadow-md;
}

.postBlockquote > p {
  @apply font-medium italic;
}

.unorderedList {
  @apply list-disc list-inside ml-5;
}

.orderedList {
  @apply list-decimal list-inside ml-5;
}


/* Table Styles */
.table {
  @apply w-full text-sm text-left text-gray-500 dark:text-gray-400;
}
.thead {
  @apply text-xs text-gray-700 uppercase dark:text-gray-400;
}
/* .tbody {
  @apply ;
} */
.th {
  @apply py-4 px-6 font-medium bg-gray-200 dark:bg-gray-700 text-gray-900 whitespace-nowrap dark:text-white;
}
.tr {
  @apply bg-white border-b dark:bg-gray-800 dark:border-gray-700;
}
.td {
  @apply py-4 px-6;
}